/* public/styles.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0; /* Add margin to the top and bottom */
  padding: 0;
  height: 100vh;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}

p {
  color: #27ae60;
}

a {
  color: #3498db;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
